.banner-container.editable
  = image_tag "", class: "banner-loading-image"
  = image_tag "bridge.png", class: "banner-background-image"
  .banner-content
    .container
      %h1.banner-brand.text-center
        Blog Reminder
      .banner.text-center
        %h1 Plan For Better Content
        %p.lead Set a blog schedule to remind you to blog and improve your content.

      .marketing-section.row
        .offset4.span4
          = link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-large btn-block btn-success"

